header {
 padding: 5vh;
 background-color:  rgb(106, 15, 15);
 border-bottom: 3vh solid rgb(221, 188, 134);
 color: white;
 margin-bottom: 3vh;
 font-family: "Sancreek", serif;
}

body {
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
}

h3{
  color:  rgb(106, 15, 15)
}

h4{
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(221, 188, 134);
}

.container{
    border-bottom: 3vh solid rgb(221, 188, 134);
    margin-bottom: 3vh;
    padding: 3vh;
}

#speak{
  background-color: rgb(106, 15, 15);
  color: rgb(255, 255, 255);
  border: 2vh solid rgb(237, 227, 119);
  margin-bottom: 3vh;
  padding: 5vh;
  text-align: center;  
}

#buttoncontent{
    text-align: center; 
}

footer{
  background-color: rgb(106, 15, 15);
  color: rgb(255, 255, 255);
  padding: 5vh;
  border-top: 3vh solid rgb(221, 188, 134);
  margin-top: 3vh;
  text-align: center; 
}