header {
 padding: 5vh;
}

body {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}

#jumbo{
    height: 400px;
    object-fit: cover;
}

img{
    filter: grayscale(100%);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

img:hover{
    filter: grayscale(0%);

}

#stitch {
    position:relative;
}

.mybutton {
    background-color: rgb(153, 16, 94);
    color: rgb(255, 255, 255);
    border: 1px  rgb(255, 255, 255);
    position:absolute;
    bottom:45%;
    right:40%;
    width:20%;
    height:10%;

}




