header {
 padding: 20px;
}

body {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}

#jumbo{
    height: 400px;
    object-fit: cover;
}

img{
    filter: grayscale(100%);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

img:hover{
    filter: grayscale(0%);

}



