header {
 padding: 5vh;
 border-bottom: 3vh solid rgb(153, 16, 94);
 margin-bottom: 3vh;
}

body {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}

h3{
    color:rgb(153, 16, 94);
}

h4{
    color:rgb(153, 16, 94);
}

#info{
 border-bottom: 1vh solid rgb(153, 16, 94);
 margin-bottom: 1vh;
 border-top: 1vh solid rgb(153, 16, 94);
 padding: 3vh;
}

#jumbo{
    object-fit: cover;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


img{
    filter: grayscale(100%);
    padding-top: 3vh;
    padding-bottom: 3vh;
}

img:hover{
    filter: grayscale(0%);

}

#stitch {
    position:relative;
}

#brick {
    position:relative;
}

#pencil {
    position:relative;
}

.mybutton{
    background-color: rgb(153, 16, 94);
    color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    font-size: 3vw;
    bottom:45%;
    right:40%;
    width:20%;
    height:10%;

}


.mybutton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(153, 16, 94);
    border: 4px solid rgb(153, 16, 94);
}

#stitchbutton{
    position: absolute;
}

#brickbutton{
    position: absolute;
}

#pencilbutton{
    position: absolute;
}

#pagescontent{
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 1vh solid rgb(153, 16, 94);
    padding: 3vh;
}

#centre{
    text-align: center;
}



