header {
 padding: 5vh;
}

body {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}

#jumbo{
    height: 400px;
    object-fit: cover;
}

img{
    filter: grayscale(100%);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

img:hover{
    filter: grayscale(0%);

}

#stitch {
    position:relative;
}

#brick {
    position:relative;
}

#pencil {
    position:relative;
}

.mybutton{
    background-color: rgb(153, 16, 94);
    color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    font-size: 3vw;
    bottom:45%;
    right:40%;
    width:20%;
    height:10%;

}


.mybutton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(153, 16, 94);
    border: 4px solid rgb(153, 16, 94);
}

#stitchbutton{
    position: absolute;
}

#brickbutton{
    position: absolute;
}

#pencilbutton{
    position: absolute;
}





